@import "../../imports"

.gg-grid-page
	toolbar-height = 70px
	header-height = 40px
	grid-padding = 20px

	overflow hidden
	position relative

	&-toolbar
	&-headers
		box-sizing border-box
		white-space nowrap

	&-toolbar
		background-color gg-background-color-2
		height toolbar-height
		padding-left toolbar-height + 5px

	&-game-icon
		background-position center
		background-repeat no-repeat
		location 0 0 toolbar-height toolbar-height
		position absolute

	&-gg-link-box
		float right
		padding 5px

	&-game-name
		font-size 24px
		line-height 35px
		padding-left 16px

	&-grid-link
		display inline-block
		padding 8px 16px
		border-radius 6px

		&:hover
			background-color rgba(255, 255, 255, 0.1)

		&.g-active
			background-color rgba(255, 255, 255, 0.2)
			color white

	&-headers
		background-color gg-background-color-3
		font-size 18px
		height header-height
		line-height header-height
		overflow hidden
		padding-left 20px
		padding-right 100px /* 100px = hack for proper scrolling */

	&-grid
		box-sizing border-box
		height "calc(100% - %s)" % (toolbar-height + header-height)
		overflow auto
		padding 0 grid-padding
		white-space nowrap

	&-copyright
		bottom 25px
		margin 0
		pointer-events none
		position absolute
		right 25px
