@import "../imports"

html
	background-color gg-background-color
	color white
	font-family sans-serif
	font-size 14px
	height 100%
	overflow hidden

body
	height 100%

a
	&
	&:active
	&:visited
		color gg-link-color

.gg-application
	header-height = 70px
	header-padding = 20px

	height 100%

	&-toolbar
	&-headers
		box-sizing border-box
		padding header-padding
		padding-bottom 0
		white-space nowrap

	&-toolbar
		height header-height - header-padding

	&-grid-link
		display inline-block
		padding 8px 16px
		border-radius 6px

		&:hover
			background-color rgba(255, 255, 255, 0.1)

		&.g-active
			background-color rgba(255, 255, 255, 0.2)
			color white

	&-headers
		font-size 18px
		height header-height
		overflow hidden
		padding-right 100px /* hack for proper scrolling */

	&-grid
		box-sizing border-box
		height "calc(100% - %s)" % (2 * header-height - header-padding)
		overflow auto
		padding 20px
		white-space nowrap
