@import "../imports"

html
	background-color gg-background-color
	color white
	font-family sans-serif
	font-size 14px

a
	&
	&:active
	&:visited
		color gg-link-color

.gg-application
	padding 20px

	&-headers
		font-size 18px
		padding-bottom 20px
		white-space nowrap
