@import "../imports"

.gg-header
	display inline-block
	margin-right gg-column-gap
	vertical-align top
	width gg-column-width

	&-hide
		&
		&:active
		&:focused
		&:visited
			color inherit
			text-decoration inherit
