@import "imports"

.gg-match
	position relative

	&-lines
		position absolute
		right 0
		size 0 0
		top (gg-player-bottom-margin / 2) + gg-avatar-size

	&-line1
		border-bottom gg-column-line-width solid gg-column-line-color
		height 0
		margin-top -(gg-column-line-width / 2)
		position absolute
		width gg-column-gap-1
