@import "imports"

.gg-player
	score-size = 20px

	line-height gg-avatar-size
	position relative

	&-link
		background-color #1c2644
		border-radius 2px
		border-right gg-column-line-width solid gg-column-line-color
		height gg-avatar-size
		margin-bottom gg-player-bottom-margin

		&.g-lose
			border-right-color darken(gg-inactive-color, 25%)
			color gg-inactive-color

		&.g-lose > &-name
			color inherit

	button&-align
		display none
		position absolute
		right 40px
		top 0
		transform rotate(90deg)

		&:hover
			color gg-link-color

	&:hover > &-align
		display block

	&-avatar
	&-name
	&-score
		float left

	&-avatar
		background scroll none transparent no-repeat 0 0
		background-size contain
		border 2px solid #768ba9
		box-sizing border-box
		size gg-avatar-size gg-avatar-size

	&-name
		box-sizing border-box
		color gg-link-color
		padding 0 12px
		overflow hidden
		text-overflow ellipsis
		white-space nowrap
		width gg-column-width - gg-avatar-size - score-size - gg-column-line-width - 1px

	&-score
		width score-size
