<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>GG Cup</title>
		<link type="text/css" rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome<%= htmlWebpackPlugin.options.suffix %>.css?_dc=<%= htmlWebpackPlugin.options.dc %>">
	</head>
	<body>
		<script type="text/javascript" src="/bower_components/jquery/dist/jquery<%= htmlWebpackPlugin.options.suffix %>.js?_dc=<%= htmlWebpackPlugin.options.dc %>"></script>
		<script type="text/javascript" src="/bower_components/lodash/dist/lodash<%= htmlWebpackPlugin.options.suffix %>.js?_dc=<%= htmlWebpackPlugin.options.dc %>"></script>
	</body>
</html>
