@import "../../imports"

.gg-index-cup-table
	&-game
	&-date
		flex 4

	&-title
		flex 10
		overflow hidden
		text-overflow ellipsis
		white-space nowrap

	&-prize
	&-participants
		flex 3

	.gg-table-body &-prize
		color gg-prize-color
