@import "../../imports"

.gg-index-cup-table
	&-game
		flex 4

	&-date
		flex-basis 150px

	&-title
		flex 10

	&-prize
	&-participants
		flex 3

	.gg-table-body &-prize
		color gg-prize-color

	.gg-table-cell
		overflow hidden
		text-overflow ellipsis
		white-space nowrap
