@import "../../imports"

.gg-index-page
	padding 0 20px 20px

	&-more
		background-color gg-background-color-3
		border none
		border-radius 4px
		color white
		cursor pointer
		display block
		margin-top 20px
		padding 5px
		width 100%

		&:hover
			background-color gg-nav-link-hover-bg-color

		&-indicator
			display block
			margin 20px auto 0
