vendor(prop, args)
	-webkit-{prop} args
	-moz-{prop} args
	{prop} args

border-radius()
	vendor('border-radius', arguments)

box-sizing()
	vendor('box-sizing', arguments)

box-shadow()
	vendor('box-shadow', arguments)

xy(x, y)
	left x
	top y

size(w, h)
	width w
	height h

location(x, y, w, h)
	xy x y
	size w h

gg-background-color = #0d1221
gg-background-color-2 = #1c2644
gg-background-color-3 = #233056
gg-link-color = #73adff
gg-inactive-color = #787e90
gg-nav-link-hover-bg-color = #52709c
gg-prize-color = #fa963e
gg-donate-color = #ffec00

gg-column-width = 214px
gg-column-line-width = 4px
gg-column-line-color = #52709c
gg-column-gap = 30px
gg-avatar-size = 30px
gg-player-bottom-margin = 2px
